
<div id="content"></div>
<button class="btn" id="loadBtn">Загрузить</button>
<button class="btn" id="displayBtn">Показать</button>
<script src="/Scripts/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

